@model List<Screens.Models.Image>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />

<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    img {
        width: 100vw;
        height: 100vh;
    }

    .owl-dots {
        display: none;
    }
</style>
@{
    Layout = null;
}
<div class="container-fluid p-0">

  

    <div class="owl-carousel owl-theme">
        @foreach (var item in Model)
        {
            <div class="item">
                @* <img src="@("https://localhost:7094" + item.imageBath)" /> *@
                <img src="@Url.Content("~" + item.imageBath)" alt="image" />
            </div>
         
        }
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 10,
            nav: false,
            rtl: true,
            autoplay: true,
             items:1,
            autoplayTimeout: @(ViewBag.AutoplayTimeout ?? 60000)
         
        });
    });
</script>
