@model List<Screens.Models.Image>

<link href="~/lib/owlcarousel/css/owl.carousel.min.css" rel="stylesheet" />

<link href="~/lib/owlcarousel/css/owl.theme.default.min.css" rel="stylesheet" />




<meta http-equiv="refresh" content="60">
<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    img {
        width: 100vw;
        height: 100vh;
    }

    .owl-dots {
        display: none;
    }
</style>
@{
    Layout = null;
}



    <div class="owl-carousel owl-theme">
        @foreach (var item in Model)
        {
            <div class="item">
                <img src="@Url.Content("~/uploads/" + item.imageBath)" />
           
            </div>
         
        }
    </div>


<script src="~/lib/jquery-3.5.1.min.js"></script>
<script src="~/lib/owlcarousel/js/owl.carousel.min.js"></script>



<script>

        function openFullscreen() {
        let elem = document.documentElement;

        if (elem.requestFullscreen) {
            elem.requestFullscreen();
        }
        else if (elem.webkitRequestFullscreen) { /* Safari */
            elem.webkitRequestFullscreen();
        }
        else if (elem.msRequestFullscreen) { /* IE11 */
            elem.msRequestFullscreen();
        }
    }


    $(document).ready(function () {

        openFullscreen();
        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 10,
            nav: false,
            rtl: true,
            autoplay: true,
             items:1,
            autoplayTimeout: @(ViewBag.AutoplayTimeout ?? 60000)
         
        });
    });

        document.addEventListener("DOMContentLoaded", function () {

   

        // Auto refresh
        setInterval(function () {
            location.reload();
        }, @(ViewBag.IntervalTimeout ?? 30000)
        
        ); // كل 5 دقائق

    });
</script>
