@model Screens.Models.Image



<div class="page-header">
    <h1>@Model.screen?.screenName</h1>
    <p>إضافة صورة جديدة</p>
</div>

<div class="card-form">
    <h2>بيانات الصورة</h2>

    <form asp-action="Create" method="post" enctype="multipart/form-data">

        @Html.AntiForgeryToken()

        <div class="form-group">
            <label>العنوان</label>
            <input asp-for="imageTitle" />
        </div>
        <span asp-validation-for="imageTitle" class="text-danger"></span>
        <div class="form-group">
            <label>الوصف</label>
            <input asp-for="imageDescription" />
        </div>

        <div class="form-group">
            <label>اختيار الصورة</label>
            <input asp-for="ImageFile" type="file" accept="image/*" onchange="previewImage(event)" />
            <img id="imgPreview" class="preview" />
        </div>
        <hidden asp-for="imageBath" id="imageBath"></hidden>
        <input type="hidden" asp-for="imageScreenId" />

        <span asp-validation-for="ImageFile" class="text-danger"></span>

        @* <div class="form-group">
            <label>الحالة</label>
            <input asp-for="image_status" type="number" />
        </div> *@

        <div class="form-group">
            <label>من تاريخ</label>
            <input asp-for="imagefromDate" class="form-control"  type="datetime-local" />
        </div>

        <div class="form-group">
            <label>إلى تاريخ</label>
            <input asp-for="imagetoDate" class="form-control" type="datetime-local" />
        </div>

        <div class="form-group">

            <span class="text-success fw-bold">
                أعلى ترتيب حالي: @Model.imageCount
            </span>

            <label>ترتيب الصورة</label>
            <input asp-for="imageOrder" class="form-control" />

        </div>


        <button type="button" class="btn-save" onclick="confirmSave()">
            حفظ
        </button>
    </form>
</div>


<div class="modal fade" id="saveModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg border-0 rounded-4">

            <!-- Header -->
            <div class="modal-header border-0">
                <h5 class="modal-title fw-bold text-primary">
                    تأكيد الحفظ
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Body -->
            <div class="modal-body text-center py-4">



                <p class="mt-3 fs-6 text-secondary">
                    هل أنت متأكد أنك تريد حفظ هذه الصورة؟
                </p>

            </div>

            <!-- Footer -->
            <div class="modal-footer border-0 d-flex justify-content-center gap-2">

                <button class="btn btn-light px-4" data-bs-dismiss="modal">
                    لا
                </button>

                <button class="btn btn-primary px-4 fw-bold" onclick="saveItem()">
                    نعم، حفظ
                </button>

            </div>

        </div>
    </div>
</div>

<script>
    function previewImage(event) {

        var reader = new FileReader();
        reader.onload = function () {
            var img = document.getElementById("imgPreview");
            // const imageURL = URL.createObjectURL(img);
            img.src = reader.result;
           // document.getElementById("imageBath").value = img.imageBath.url;
           // document.getElementById("imageBath").value = img.imageBath;
            var imageBath =img.src;
             console.log("imageBath");
            console.log(imageBath);

            img.style.display = "block";
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>

<script>





</script>

<script>
    function confirmSave() {


        let isValid = true;


        let title = document.querySelector("[name='imageTitle']");
        let desc = document.querySelector("[name='imageDescription']");
        let file = document.querySelector("[name='ImageFile']");
        let fromDate = document.querySelector("[name='imagefromDate']");
        let toDate = document.querySelector("[name='imagetoDate']");

     [title, desc, file, fromDate, toDate].forEach(el => {
            el.style.border = "1px solid #ddd";
        });

        // title validation
        if (title.value.trim() === "") {
            title.style.border = "2px solid red";
            isValid = false;
        }

        // description validation
        if (desc.value.trim() === "") {
            desc.style.border = "2px solid red";
            isValid = false;
        }


        // fromDate validation
        if(fromDate.value.trim() === ""){
            fromDate.style.border = "2px solid red";
            isValid = false;
        }

         // toDate validation
        if(toDate.value.trim() === ""){
            toDate.style.border = "2px solid red";
            isValid = false;
        }


        // date validation
        if (fromDate.value && toDate.value) {
            console.log(" date validation")
            if (new Date(fromDate.value) > new Date(toDate.value)) {
                fromDate.style.border = "2px solid red";
                toDate.style.border = "2px solid red";
                      toastr["error"]("تاريخ البداية يجب أن يكون قبل تاريخ النهاية", "", {
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-top-left",
                            "preventDuplicates": true,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "3000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        })



                isValid = false;
            }
        }


         // image validation
        if (file.files.length === 0) {
            file.style.border = "2px solid red";
            isValid = false;
        }

       let allowedTypes = ["image/jpeg", "image/png", "image/jpg"];
    if (file.files.length > 0 && !allowedTypes.includes(file.files[0].type)) {

             toastr["error"]("يرجى اختيار صورة بصيغة JPG أو PNG فقط", "", {
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-top-left",
                            "preventDuplicates": true,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "3000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        })

        file.style.border = "2px solid red";
        isValid = false;
    }

        let maxSize = 2 * 1024 * 1024;
    if (file.files.length > 0 && file.files[0].size > maxSize) {

         toastr["error"]("حجم الصورة يجب أن يكون أقل من 2MB", "", {
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-top-left",
                            "preventDuplicates": true,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "3000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        })


        isValid = false;
    }

       
        if (!isValid) {
            e.preventDefault();
        }




       32qwertyiovar modal = new bootstrap.Modal(document.getElementById('saveModal'));
        modal.show();
    }

    function saveItem() {
        document.querySelector("form").submit();
    }
<5/script>
]