<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   @*  <title>@ViewData["Title"] - NablusMunicipalityNet9.DBRD</title> *@
    <script type="importmap"></script>

    <link href="~/lib/bootstrap4/css/normalize.css" rel="stylesheet" />
    <link href="~/lib/bootstrap4/css/bootstrap.min.RTL.css" rel="stylesheet" />

    <link href="~/lib/aos/aos.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
 
    <link rel="stylesheet" href="~/styles.css" asp-append-version="true" />
</head>
<body>
   

  

     
        @RenderBody()

    
  
 

    <script src="~/lib/bootstrap4/js/jquery-3.2.1.min.js"></script>
    <script src="~/lib/bootstrap4/js/popper.min.js"></script>
    <script src="~/lib/bootstrap4/js/bootstrap.min.js"></script>

    @*<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>*@
    <script src="~/lib/aos/aos.js"></script>

    <script src="~/lib/toastr/toastr.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>

        AOS.init({
            duration: 1200,
        })

        //// Add fade transition effect
        //document.addEventListener('DOMContentLoaded', function() {
        //    document.body.classList.add('fade-transition', 'show');
        //});
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
