html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Cairo', sans-serif;
    background: #f4f6f9;
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
#toast-container > .toast-error {
    background-color: #e74c3c !important;
    color: #fff !important;
}

#toast-container > .toast-success {
    background-color: #28a745 !important;
    color: #fff !important;
}

#toast-container > .toast-info {
    background-color: #17a2b8 !important;
    color: #fff !important;
}

#toast-container > .toast-warning {
    background-color: #f39c12 !important;
    color: #fff !important;
}

/* HEADER */
.page-header {
    text-align: center;
    margin: 40px 0 20px;
}

    .page-header h1 {
        font-size: 30px;
        font-weight: bold;
        color: #85000d;
    }

    .page-header p {
        color: #888;
        font-size: 14px;
    }

/* CARD */
.card-form {
    max-width: 650px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

    /* TITLE داخل الكارد */
    .card-form h2 {
        text-align: center;
        margin-bottom: 25px;
        color: #122e59;
    }

/* INPUT GROUP */
.form-group {
    margin-bottom: 18px;
}

/* LABEL */
label {
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
    color: #333;
}

/* INPUT */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: 0.3s;
}

    input:focus {
        border-color: #122e59;
        outline: none;
        box-shadow: 0 0 0 2px rgba(18,46,89,0.1);
    }

/* IMAGE PREVIEW */
.preview {
    margin-top: 12px;
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: none;
    border-radius: 12px;
    border: 1px solid #eee;
}

/* BUTTON */
.btn-save {
    width: 100%;
    padding: 14px;
    background: linear-gradient(135deg, #122e59, #1f4c8f);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 15px;
    transition: 0.3s;
}

    .btn-save:hover {
        background: linear-gradient(135deg, #27ae60, #2ecc71);
    }

/* VALIDATION */
.text-danger {
    font-size: 13px;

}